
.widget-context { float:left; width:100%; clear:both; margin:0.5em -12px; padding:0.25em 12px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; background:#eee; }
.widget .widget-context-inside p { margin:0.5em 0; }

.wl-incexc select { max-width:11em; }

.wl-columns input { vertical-align:middle; }
.wl-column-2-1 { float:left; width:48%; }
.wl-column-2-2 { float:right; width:50%; }
.wl-columns label { display:block; }

.wl-word-count { clear:both; }
.wl-word-count .wl-check-wordcount-type select { font-size:1.1em; padding:0; }
.wl-word-count label { display:inline; }
.wl-word-count .wl-word-count input { display:inline; width:3em; }

.wl-options { }
.wl-options .wl-urls { clear:both; }
.wl-options .wl-urls textarea { width:100%; height:7em; font-size:0.96em; line-height:1.25em; }
.wl-visibility {  }

.wl-notes { float:left; width:100%; clear:both; margin-bottom:0.5em; }
.wl-notes textarea { float:left; width:100%; clear:both; height:4em; font-size:1em; line-height:1.25em; }

.widget .widget-inside .wl-tip { font-size:0.9em; line-height:1.1; margin:0 0 1em 0; }