
.widget-context { float:left; width:100%; clear:both; margin:0.5em -12px; padding:0.5em 12px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; background:#eee; }
.widget-context-inside { float:left; width:100%; clear:both; padding-top:0.5em; }
.widget-context .toggle-contexts { text-decoration:none; float:right; margin:0 0 -10em -100em; }
.widget .widget-context-inside p { margin:0 0 0.5em; }
.widget-context h3 { float:left; width:100%; font-size:1.05em; margin:0; padding:0; }
.widget-context textarea { display:block; width:100%; height:8em; font:inherit; }

.widget-context .context-group { float:left; width:100%; clear:both; margin-bottom:0.5em; }
.widget-context .context-toggle { margin:0 0 0.3em 0; display:block; text-decoration:none; color:inherit; font-weight:bold; }

.context-group-incexc select { width:100%; }
.context-group-incexc .context-toggle { display:none; } 

.context-group-location .context-group-wrap { max-height:7em; overflow:scroll; padding:0.5em; margin-bottom:0.5em; background:#fff; border:1px solid #ddd; } 
.context-group-location label { display:block; }

.context-group-wrap .wl-word-count input { width:3em; }

.context-group-general textarea { height:3em; }