
.widget-context { float:left; width:100%; clear:both; margin:0.5em -12px; padding:0.5em 12px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; background:#eee; }
.widget .widget-context-inside p { margin:0.5em 0; }

.widget-context .context-group { float:left; width:100%; clear:both; }
.widget-context .context-group-wrap { float:left; width:100%; clear:both; }
.widget-context .context-toggle { padding:0.5em 0; margin:0; display:block; text-decoration:none; color:inherit; font-weight:bold; }
.widget-context .collapsed { display:none; }

.widget-context .context-group-incexc .collapsed { display:inline; ; }

.context-group-incexc .context-toggle { display:inline; }
.context-group-incexc .context-group-wrap { display:inline; float:none; clear:none }

.context-group-location label { display:block; }