<?xml version="1.0"?>
<phpunit
	colors="true"
	bootstrap="tests/php/bootstrap.php"
	>

	<testsuites>
		<testsuite name="Widget Context Tests">
			<directory>tests/php</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-clover" target="tests/logs/clover.xml"/>
	</logging>

</phpunit>
