
.widget-context { float:left; width:100%; clear:both; margin:0.5em 0; padding:0 0 0.5em 0; border-bottom:1px solid #dfdfdf; }
.widget-context-inside { float:left; width:100%; clear:both; }
.widget-context-inside p { margin:0 0 0.5em; }
.widget-context textarea { display:block; width:100%; height:8em; font:inherit; }
.widget-context .help { line-height:1.2; color:#666; }

.widget-context .widget-context-header { float:left; width:100%; clear:both; }
.widget-context .widget-context-header h3 { font-size:1.1em; margin:0 0.5em 0.5em 0; padding:0; float:left; }
.widget-context .widget-context-header a { float:right; }

.widget-context .context-group { float:left; width:100%; clear:both; margin-bottom:0.5em; }
.widget-context .context-toggle { margin:0 0 0.3em 0; display:block; text-decoration:none; color:inherit; font-weight:bold; }

.widget-context .context-inactive { display:none; }

.widget-context .context-global .context-group { display:none; }
.widget-context .context-global .context-group-incexc { display:block; }

/** Modules **/

.context-group-incexc select { width:100%; }
.context-group-incexc .context-toggle { display:none; }

.context-group-location .context-group-wrap { max-height:10em; overflow:auto; padding:0.5em; margin-bottom:0.5em; background:#fff; border:1px solid #ddd; }
.context-group-location label { display:block; padding:0.25em 0; }

.context-group-custom_post_types_taxonomies .context-group-wrap { max-height:10em; overflow:auto; padding:0.5em; margin-bottom:0.5em; background:#fff; border:1px solid #ddd; }
.context-group-custom_post_types_taxonomies label { display:block; padding:0.25em 0; }

.context-group-wrap .wc-field-text-word-count input { width:3em; }

.context-group-admin_notes textarea { height:4em; }

.context-group-word_count select { max-width:4em; min-width:2em; }

/** Settings UI **/

.widget-context-form th { width:auto; }
.widget-context-form ul { border-top:1px solid #ddd; margin:0 0 1em 0; padding:0; float:left; width:100%; clear:both; display:block; }
.widget-context-form li { float:left; width:100%; clear:both; margin:0; padding:0.5em 0; border-bottom:1px solid #ddd; }
.widget-context-form li label { vertical-align:middle; float:left; width:34%; margin:0 -100em 0 0; }
.widget-context-form li label input { vertical-align:middle; }
.widget-context-form .context-desc { font-style:italic; color:#666; margin:0 0 0 40%; }
.widget-context-settings-wrap { padding-right:300px; }
.widget-context-form { float:left; width:100%; margin-right:-100em; }
.widget-context-sidebar { float:right; width:280px; position:relative; right:-300px; border:1px solid #ddd; }
.widget-context-sidebar h2, .widget-context-sidebar h3 { margin-bottom:0.5em	; }
.widget-context-sidebar p { margin:0 0 1em 0; }
.wc-sidebar-in { padding:1em; }
.wc-sidebar-credits { padding-bottom:0.5em; margin-bottom:1em; border-bottom:1px solid #ddd; }
.wc-sidebar-credits img { float:left; margin:0 1em 1em 0; }

/** Sets correct widget height when child element height changes **/
.widget-control-actions,
.widget-content,
#widgets-right .widget { clear:left; }

@media screen and ( max-width: 900px ) {
	.widget-context-settings-wrap { padding-right:0; }
	.widget-context-form { margin:0; }
	.widget-context-sidebar { width:100%; right:0; }
}
